.list-card {
  border: 1px solid #979797;
  border-radius: 5px;
  width: 100%;
  height: 390px;
}

.list-card .header {
  height: 88px;
  border-bottom: 1px solid #979797;
}

.header .header-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-card .header .title-section {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 28px;
  width: 50%;
  cursor: pointer;
  border: 0;
  margin-left: 25px;
}

.event-icons {
  width: 159px;
  padding-right: 25px;
}

.donations,
.cheers,
.follows,
.subscriptions {
  display: inline-block;
}

.donations,
.cheers,
.follows,
.subscriptions {
  cursor: pointer;
}

.donations,
.cheers,
.follows {
  padding-right: 10%;
}

.subscriptions img {
  width: 32px;
}

.display-list .list {
  height: 301px;
  overflow: scroll;
  overflow-x: hidden;
}

.display-list .list .empty-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.display-list .list .empty-list .empty-title {
  font-size: 34px;
  font-weight: bold;
  padding-bottom: 10px;
}

.display-list .list .empty-list .empty-detail {
  font-size: 22px;
  font-weight: lighter;
}

.display-list button {
  float: right;
  position: relative;
  top: 283px;
}

.event-read {
  background-color: #aaf69c;
}

/* Edit Panel */
.edit,
.confirm-edit {
  cursor: pointer;
}

.display-list {
  height: 301px;
}

.display-list .edit {
  float: right;
  position: relative;
  top: -32px;
  right: 5px;
  width: 26px;
  height: 26px;
}

.edit-content {
  height: 256px;
  overflow: scroll;
  overflow-x: hidden;
}

.confirm-edit {
  float: right;
  position: relative;
  top: -32px;
  right: 5px;
}

.edit-panel .edit-content {
  padding: 3%;
}

.edit-panel .edit-content .title-label {
  font-size: 24px;
}

.edit-panel .edit-content .all-filters {
  padding: 15px 0 0 0;
}

.filter-input {
  display: block;
  width: 50%;
  padding-top: 15px;
}

.edit-detail {
  font-size: 12px;
  font-style: italic;
  font-weight: 200;
  padding: 5px 0 20px 0;
  margin: 0;
}

button.delete {
  width: 250px;
  height: 50px;
  margin: 0 25% 0 25%;
  color: white;
  background-color: #ff0000;
  opacity: 0.6;
  font-size: 22px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

button.delete:hover {
  background-color: #fb9595;
}
