<div class="list-card">
  <div class="header">
    <div class="header-content">
      <div class="title-section">
        {{title}}
      </div>
      <div class="event-icons">
        <div class="donations" (click)="changedEvent('donations')">
          <img *ngIf="activeEvents.donations; else donationsDisabled" src="../../assets/event-list/icons/donations-enabled.png" />
          <ng-template #donationsDisabled>
            <img src="../../assets/event-list/icons/donations-disabled.png" />
          </ng-template>
        </div>
        <div class="cheers" (click)="changedEvent('cheers')">
          <img *ngIf="activeEvents.cheers; else cheersDisabled" src="../../assets/event-list/icons/cheers-enabled.png" />
          <ng-template #cheersDisabled>
            <img src="../../assets/event-list/icons/cheers-disabled.png" />
          </ng-template>
        </div>
        <div class="follows" (click)="changedEvent('follows')">
          <img *ngIf="activeEvents.follows; else followsDisabled" src="../../assets/event-list/icons/follows-enabled.png" />
          <ng-template #followsDisabled>
            <img src="../../assets/event-list/icons/follows-disabled.png" />
          </ng-template>
        </div>
        <div class="subscriptions" (click)="changedEvent('subscriptions')">
          <img *ngIf="activeEvents.subscriptions; else subscriptionsDisabled" src="../../assets/event-list/icons/subscriptions-enabled.png"
          />
          <ng-template #subscriptionsDisabled>
            <img src="../../assets/event-list/icons/subscriptions-disabled.png" />
          </ng-template>
        </div>
      </div>
      <div class="action-button">
        <img (click)="removeList()" src="../../assets/event-list/icons/delete-x-icon.png" />
      </div>
    </div>
  </div>
  <!-- Will display all alerts -->
  <div class="display-list" *ngIf="!isEdit">
    <div class="list">
      <div id="event_row" *ngFor="let event of eventList" [ngClass]="event.didRead ? 'event-read': ''" (click)="eventRead(event.id)">
        <!-- Followers -->
        <app-follower-event-cell *ngIf="event.type === 'new_follower'" [id]="event.id" [type]="event.type" [duration]="event.duration"
          [from]="event.from" [isTest]="true"></app-follower-event-cell>

        <!-- Subscribers  -->
        <app-subscriber-event-cell *ngIf="event.type === 'new_subscription'" [id]="event.id" [type]="event.type" [duration]="event.duration"
          [from]="event.from" [message]="event.message" [months]="event.months" [subplan]="event.friendlySubPlan" [isTest]="true"></app-subscriber-event-cell>

        <!-- Donations -->
        <app-amount-event-cell *ngIf="event.type === 'new_donation'" [id]="event.id" [type]="event.type" [duration]="event.duration"
          [from]="event.from" [message]="event.message" [amount]="event.amount" [stringAmount]="event.stringAmount" [currency]="event.currency"
          [isTest]="true"></app-amount-event-cell>

        <!-- Cheers -->
        <app-amount-event-cell *ngIf="event.type === 'new_cheer'" [id]="event.id" [type]="event.type" [duration]="event.duration"
          [from]="event.from" [message]="event.message" [amount]="event.amount" [stringAmount]="event.stringAmount" currency="Bits"
          [isTest]="true"></app-amount-event-cell>
      </div>

      <!-- MAD PROPS JeremyDwayne / TEST CELLS -->
      <app-follower-event-cell id="1111111" type="new_follower" duration="1hr" from="PixelogicDev" isTest="true"></app-follower-event-cell>
      <app-subscriber-event-cell id="222222" type="new_subscription" duration="3m" from="PixelogicDev" message="WOWOWOWOWOWOWOWOWOWOWO A NEW MESSGAEH HHAHAHAHA"
        months="24" subplan="2" isTest="true"></app-subscriber-event-cell>
      <app-amount-event-cell id="333333" type="new_donation" duration="5h" from="YoMama" message="WOWOWOWOWOWOWOWOWOWOWO A NEW MESSGAEH HHAHAHAHA DONNOOO"
        amount="100" stringAmount="100" currency="USD" isTest="true"></app-amount-event-cell>
      <app-amount-event-cell id="444444" type="new_cheer" duration="2h" from="CheerBAWS" message="WOWOWOWOWOWOWOWOWOWOWO A NEW MESSGAEH HHAHAHAHA CHERR"
        amount="10000" stringAmount="10000" currency="Bits" isTest="true"></app-amount-event-cell>
    </div>
    <img class="edit " *ngIf="!isEdit " src="../../assets/event-list/icons/edit-pencil.png " (click)="isEdit=! isEdit " />
  </div>
  <!-- Will display edit panel for alert list -->
  <div class="edit-panel " *ngIf="isEdit ">
    <div class="edit-content ">
      <div class="title-label ">
        All Events
      </div>
      <div class="all-filters ">
        <mat-slide-toggle class="filter-toggle " [color]="color " [checked]="allFilterActive " (change)="filtersChanged($event,
        'allFilter') ">
          All Filters
        </mat-slide-toggle>
        <p class="edit-detail ">
          Turn on/off all the filters applied on this event list.
        </p>
        <mat-slide-toggle class="filter-toggle " [color]="color " [checked]="bumpFilterActive " (change)="filtersChanged($event,
        'bumpFilter') ">
          Bump By Time
        </mat-slide-toggle>
        <mat-form-field class="filter-input " *ngIf="bumpFilterActive " type="number ">
          <input #bumpTime matInput placeholder="Minutes " value={{bumpFilterVal}} (change)="inputChange(bumpTime,
        'bumpVal') ">
        </mat-form-field>
        <p class="edit-detail ">
          Set the amount of minutes to wait before bumping an event to the top of the list if you have not read it yet.
        </p>
      </div>
      <div *ngIf="activeEvents.subscriptions" class="subscriptions-filter ">
        <div class="title-label ">
          Subscriptions
        </div>
        <mat-slide-toggle class="filter-toggle " [color]="color " [checked]="resubFilterActive " (change)="filtersChanged($event,
        'resubFilter') ">
          Bump By Months
        </mat-slide-toggle>
        <mat-form-field class="filter-input " *ngIf="resubFilterActive " type="number ">
          <input #resubVal matInput placeholder="Months " value={{resubFilterVal}} (change)="inputChange(resubVal,
        'resubVal') ">
        </mat-form-field>
        <p class="edit-detail ">
          Set the minimum resub month amount to bump the event to the top of the list.
        </p>
        <mat-slide-toggle class="filter-toggle " [color]="color " [checked]="tierFilterActive " (change)="filtersChanged($event,
        'tierFilter') ">
          Bump By Tier
        </mat-slide-toggle>
        <mat-form-field class="filter-input " *ngIf="tierFilterActive " type="number ">
          <input #tierVal matInput placeholder="Tier Level " value={{tierFilterVal}} (change)="inputChange(tierVal,
        'tierVal') ">
        </mat-form-field>
        <p class="edit-detail ">
          Set the minimum tier level to bump the event to the top of the list.
        </p>
      </div>
      <div *ngIf="activeEvents.donations" class="donations-filter ">
        <div class="title-label ">
          Donations
        </div>
        <mat-slide-toggle class="filter-toggle " [color]="color " [checked]="donationsFilterActive " (change)="filtersChanged($event,
        'donationFilter') ">
          Bump By Amount
        </mat-slide-toggle>
        <mat-form-field class="filter-input " *ngIf="donationsFilterActive " type="number ">
          <input #donationVal matInput placeholder="Amount " value={{donationFilterVal}} (change)="inputChange(donationVal,
        'donationVal') ">
        </mat-form-field>
        <p class="edit-detail ">
          Set the minimum donation amount to bump the event to the top of the list.
        </p>
      </div>
      <div *ngIf="activeEvents.cheers" class="cheers-filter ">
        <div class="title-label ">
          Cheers
        </div>
        <mat-slide-toggle class="filter-toggle " [color]="color " [checked]="cheerFilterActive " (change)="filtersChanged($event,
        'cheerFilter') ">
          Bump By Bits
        </mat-slide-toggle>
        <mat-form-field class="filter-input " *ngIf="cheerFilterActive " type="number ">
          <input #cheerVal matInput placeholder="Bits " value={{cheerFilterVal}} (change)="inputChange(cheerVal,
        'cheerVal') ">
        </mat-form-field>
        <p class="edit-detail ">
          Set the minimum bit amount to bump the event to the top of the list.
        </p>
      </div>
    </div>
    <img class="confirm-edit " *ngIf="isEdit " src="../../assets/event-list/icons/confirm-check-icon.png " (click)="updateSettings() "
    />
  </div>
