<div class="list-card">
  <div class="header">
    <div class="header-content">
      <div class="title-section">
        {{title}}
      </div>
      <div class="event-icons">
        <div class="donations" (click)="changedEvent('donations')">
          <img *ngIf="donations; else donationsDisabled" src="../../assets/event-list/icons/donations-enabled.png" />
          <ng-template #donationsDisabled>
            <img src="../../assets/event-list/icons/donations-disabled.png" />
          </ng-template>
        </div>
        <div class="cheers" (click)="changedEvent('cheers')">
          <img *ngIf="cheers; else cheersDisabled" src="../../assets/event-list/icons/cheers-enabled.png" />
          <ng-template #cheersDisabled>
            <img src="../../assets/event-list/icons/cheers-disabled.png" />
          </ng-template>
        </div>
        <div class="follows" (click)="changedEvent('follows')">
          <img *ngIf="follows; else followsDisabled" src="../../assets/event-list/icons/follows-enabled.png" />
          <ng-template #followsDisabled>
            <img src="../../assets/event-list/icons/follows-disabled.png" />
          </ng-template>
        </div>
        <div class="subscriptions" (click)="changedEvent('subscriptions')">
          <img *ngIf="subscriptions; else subscriptionsDisabled" src="../../assets/event-list/icons/subscriptions-enabled.png" />
          <ng-template #subscriptionsDisabled>
            <img src="../../assets/event-list/icons/subscriptions-disabled.png" />
          </ng-template>
        </div>
      </div>
      <div class="action-button">
        <img (click)="removeList()" src="../../assets/event-list/icons/delete-x-icon.png" />
      </div>
    </div>
  </div>
  <!-- Will display all alerts -->
  <div class="display-list" *ngIf="!isEdit">
    <div id="event_row" *ngFor="let event of eventList" [ngClass]="event.didRead ? 'event-read': ''" (click)="eventRead(event.id)">
      {{event.id}}
      <br>{{event.localeTimestamp}}
      <br>{{event.from}}
      <br>{{event.message}}
      <br>{{event.amount}}
      <br>{{event.months}}
      <br>{{event.sub_plan}}
    </div>
    <button (click)="isEdit = true">Edit</button>
  </div>
  <!-- Will display edit panel for alert list -->
  <div class="edit-panel" *ngIf="isEdit">
    <div class="edit-content">
      <div class="title-label">
        All Events
      </div>
      <div class="all-filters">
        <mat-slide-toggle class="filter-toggle" [color]="color" [checked]="allFilterActive" (change)="filtersChanged($event, 'allFilter')">
          All Filters
        </mat-slide-toggle>
        <p class="edit-detail">
          Turn on/off all the filters applied on this event list.
        </p>
        <mat-slide-toggle class="filter-toggle" [color]="color" [checked]="bumpFilterAcive" (change)="filtersChanged($event, 'bumpFilter')">
          Bump By Time
        </mat-slide-toggle>
        <mat-form-field class="filter-input" *ngIf="bumpFilterAcive" type="number">
          <input #bumpTime matInput placeholder="Minutes" value={{bumpFilterVal}} (change)="bumpInputChange(bumpTime, 'bumpVal')">
        </mat-form-field>
        <p class="edit-detail">
          Set the amount of minutes to wait before bumping an event to the top of the list if you have not read it yet.
        </p>
      </div>
    </div>
    <div *ngIf="subscriptions" class="subscriptions-filter">
      <div class="edit-content">
        <div class="title-label">
          Subscriptions
        </div>
        <mat-slide-toggle class="filter-toggle" [color]="color" [checked]="resubFilterActive" (change)="filtersChanged($event, 'resubFilter')">
          Bump By Months
        </mat-slide-toggle>
        <mat-form-field class="filter-input" *ngIf="resubFilterActive" type="number">
          <input #resubVal matInput placeholder="Months" value={{resubFilterVal}} (change)="bumpInputChange(resubVal, 'resubVal')">
        </mat-form-field>
        <p class="edit-detail">
          Set the minimum resub month amount to bump the event to the top of the list.
        </p>
        <mat-slide-toggle class="filter-toggle" [color]="color" [checked]="tierFilterActive" (change)="filtersChanged($event, 'tierFilter')">
          Bump By Tier
        </mat-slide-toggle>
        <mat-form-field class="filter-input" *ngIf="tierFilterActive" type="number">
          <input #tierVal matInput placeholder="Tier Level" value={{tierFilterVal}} (change)="bumpInputChange(tierVal, 'tierVal')">
        </mat-form-field>
        <p class="edit-detail">
          Set the minimum tier level to bump the event to the top of the list.
        </p>
      </div>
    </div>
    <div *ngIf="donations" class="donations-filter">
      <div class="edit-content">
        <div class="title-label">
          Donations
        </div>
        <mat-slide-toggle class="filter-toggle" [color]="color" [checked]="donationsFilterActive" (change)="filtersChanged($event, 'donationFilter')">
          Bump By Amount
        </mat-slide-toggle>
        <mat-form-field class="filter-input" *ngIf="donationsFilterActive" type="number">
          <input #donationVal matInput placeholder="Amount" value={{donationFilterVal}} (change)="bumpInputChange(donationVal, 'donationVal')">
        </mat-form-field>
        <p class="edit-detail">
          Set the minimum donation amount to bump the event to the top of the list.
        </p>
      </div>
    </div>
    <div *ngIf="cheers" class="cheers-filter">
      <div class="edit-content">
        <div class="title-label">
          Cheers
        </div>
        <mat-slide-toggle class="filter-toggle" [color]="color" [checked]="cheerFilterActive" (change)="filtersChanged($event, 'cheerFilter')">
          Bump By Bits
        </mat-slide-toggle>
        <mat-form-field class="filter-input" *ngIf="cheerFilterActive" type="number">
          <input #cheerVal matInput placeholder="Bits" value={{cheerFilterVal}} (change)="bumpInputChange(cheerVal, 'cheerVal')">
        </mat-form-field>
        <p class="edit-detail">
          Set the minimum bit amount to bump the event to the top of the list.
        </p>
      </div>
    </div>
    <img src="../../assets/event-list/icons/confirm-check-icon.png" (click)="isEdit = false" />
  </div>
</div>
