/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';

body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}

.mat-form-field-label {
  color: #a5d6a7;
}

.mat-input-underline {
  background-color: #a5d6a7;
}
