.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 34px;
  font-weight: bold;
  border-bottom: 1px solid #979797;
}

.header .title {
  padding-left: 25px;
}

.header .nav a {
  padding-right: 25px;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
}

.header .nav a:hover {
  color: #5f6c72;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.container .title {
  padding: 50px 0 15px 0;
}

.container .detail {
  font-size: 34px;
  padding-bottom: 50px;
  text-align: center;
}

.container .title,
.section-title {
  font-size: 46px;
  font-weight: bold;
  text-align: center;
}

.container .connect-button {
  padding-bottom: 100px;
}

.container .component {
  width: 800px;
  padding-bottom: 200px;
}

.donations,
.cheers,
.follows,
.subs img {
  display: block;
  margin: auto;
}

.donations,
.cheers,
.follows,
.subs .event-details {
  font-size: 28px;
  width: 546px;
  text-align: center;
}

mat-grid-list {
  padding-bottom: 200px;
}
