.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.container .title,
.section-title {
  font-size: 46px;
  font-weight: bold;
  text-align: center;
}

.container .detail {
  font-size: 34px;
  padding: 15px 0 40px 0;
}

.container .connect-button {
  padding-bottom: 80px;
}

.container .component {
  width: 800px;
  padding-bottom: 160px;
}

.container .event-details {
  padding-top: 40px;
}

.container .event-details .description {
  font-size: 34px;
}

.container .event-details .donations,
.cheers,
.follows,
.subs {
  display: flex;
  padding-bottom: 40px;
}

.container .event-details .cheers img {
  padding-left: 47px;
  width: 68px;
  height: 80px;
  padding-right: 16px;
}

.container .event-details .follows img {
  padding-left: 40px;
  width: 80px;
  height: 80px;
  padding-right: 11px;
}

.container .event-details .subs img {
  padding-left: 32px;
  width: 90px;
  height: 90px;
  padding-right: 10px;
}

.container .event-details img {
  padding: 0 25px 0 58px;
}
