<div class="container">
  <div class="title">
    SimpleAlerts
  </div>
  <div class="detail">
    Never Miss Another Shoutout.
  </div>
  <div class="connect-button">
    <a [href]=streamLabsAuthUrl>
      <img src="../../assets/home-page/Streamlabs-Button.png" />
    </a>
  </div>
  <img class="component" src="../../assets/home-page/EventListComp.png" />
  <div class="title">
    SimpleAlerts is a streaming tool designed to help organize your alerts by meaningful filters.
  </div>
  <div class="event-details">
    <div class="donations">
      <img src="../../assets/home-page/donations.png" />
      <div class="description">
        Want to make sure to be alerted right away when someone drops a mind blowning donation? Set a threshold to bump the event
        to the top.
      </div>
    </div>
    <div class="cheers">
      <img src="../../assets/home-page/cheers.png" />
      <div class="description">
        Don’t forget your high quality cheers! Set a threshold to have SimpleAlerts bump those massive cheers to the top of the list.
      </div>
    </div>
    <div class="follows">
      <img src="../../assets/home-page/follows.png" />
      <div class="description">
        Has it passed a couple minutes since you have shouted out your newest followers out? Let SimpleAlerts bump these alerts to
        the top with a timeframe you set!
      </div>
    </div>
    <div class="subs">
      <img src="../../assets/home-page/subs.png" />
      <div class="description">
        Want top make sure you don’t miss a Tier 3 sub or a 24 month resub? SimpleAlerts can bump these alerts to the top of your
        list so you don’t have to.
      </div>
    </div>
  </div>
</div>
