<div class="cell-content">
  <div class="timestamp">
    <img [src]=timeIconPath />
    <div class="duration">
      {{duration}}
    </div>
  </div>
  <div class="content">
    <div class=content-title>
      New Follower
    </div>
    <div class="content-from">
      {{from}}
    </div>
  </div>
  <div *ngIf="!didRead" class="indicator">
    <img [src]=followIconPath />
  </div>
  <div *ngIf="didRead" class="indicator">
    <div class="did-read-remove" (click)="removeEvent()">
      REMOVE
    </div>
  </div>
</div>
