<div class="header">
  <div class="title">
    SimpleAlerts
  </div>
  <div class="route-name">
    Dashboard
  </div>
  <div class="user">
    Hi, {{twitchDisplayName}}!
  </div>
</div>

<div class="event-components">
  <!-- MOD PROPS lithiumx4900 -->
  <!-- https://stackblitz.com/edit/angular-b3aopk -->
  <app-event-list *ngFor="let event of eventLists" [parent]="this" [id]=event.id [title]=event.title [filter]=event.filter
    [activeEvents]=event.activeEvents></app-event-list>
  <div class="create-event">
    <div class="content">
      Enter a title to get started!
      <mat-form-field class="create-event-input" type="text">
        <input #title matInput placeholder="Title">
      </mat-form-field>
      <button mat-raised-button (click)="addEventList(title)" color="accent">Create Event List</button>
    </div>
  </div>
